
$main-bg-color: var(--main-bg-color);
$main-text-color: var(--main-text-color);
$main-btn-color: var(--main-btn-color);
$main-btn-text: var(--main-btn-text);
$secondary-btn-color: var(--secondary-btn-color);
$main-font: var(--main-font);