
$main-bg-color: var(--main-bg-color);
$main-text-color: var(--main-text-color);
$main-btn-color: var(--main-btn-color);
$main-btn-text: var(--main-btn-text);
$secondary-btn-color: var(--secondary-btn-color);

$clr-accent-1: var(--clr-accent-1);
$clr-accent-2: var(--clr-accent-2);
$clr-accent-3: var(--clr-accent-3);
$clr-accent-4: var(--clr-accent-4);

$main-font: var(--main-font);