@use "../vars" as v;

.btn {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    color: v.$main-btn-text;
    background-color: v.$main-btn-color;
    border-radius: 10px;
    padding: 5px 25px;
    &.one {

            color: #4d4aff;
    }
    &.two {

            color: #4543e6;
    }
    &.three {

            color: #3a37bf;
    }
    &.four {

            color: #262580;
    }
    &:hover {
        background-color: v.$secondary-btn-color;
    }
    svg {
        fill: v.$main-text-color;
    }
}