@use "../vars" as v;
@use '../breakpoints' as b;

.container {
    margin: 0 60px 0 60px;
    width: 50em;
    @include b.breakpoint(medium) {

    }
}

.input-container {
    display: flex;
    flex-direction: row;
    outline: 2px solid v.$main-text-color;
    border-radius: 10px;
    padding: 10px;
}

.flex-col {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    justify-content: space-between;
    &.panel {
        flex-grow: 1;
        background-color: v.$main-text-color;
        color: v.$main-bg-color;
    }
}